* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(249, 245, 245);
    border-radius: 5px;
}
.container img {
    display: block;
    width: 180px;
}
.container ul li {
    list-style: none;
    display: inline-block;
    position: relative;
}
.container ul li  a {
    display: inline-block;
    margin: 10px;
    margin-right: 30px;
    font-size: 30px;
    color: #111;
    font-weight: 500;
    text-decoration: none;
}
.container .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00baf2;
    padding: 3px;
    border-radius: 40px;
    font-size: 24px;
}
.container .profile span {
    margin: 0px 10px;
    color: white; 
}
.container .profile img {
    width: 40px;
}

.container .profile:hover {
    background: #034e65;
}



.sub-menu-bar  {
    position: absolute;
    width: 300px;
    top: 100%;
    left: 0;
    height: 0;
    overflow: hidden;
    display: none;
    background-color: white;
    border: 1px solid rgb(41, 40, 40);
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav .menu-bar > li:nth-child(1):hover {
    background: rgb(225, 223, 223);
    border-radius: 6px;
}
nav .menu-bar li:nth-child(1):hover .sub-menu-bar {
    display: block;
    height: 500%;
}
nav .menu-bar > li:nth-child(2):hover {
    background: rgb(225, 223, 223);
    border-radius: 6px;
}
nav .menu-bar li:nth-child(2):hover .sub-menu-bar {
    display: block;
    height: 700%;
}
nav .menu-bar > li:nth-child(3):hover {
    background: rgb(225, 223, 223);
    border-radius: 6px;
}
nav .menu-bar li:nth-child(3):hover .sub-menu-bar {
    display: block;
    height: 700%;
}
nav .menu-bar > li:nth-child(4):hover {
    background: rgb(225, 223, 223);
    border-radius: 6px;
}
nav .menu-bar li:nth-child(4):hover .sub-menu-bar {
    display: block;
    height: 500%;
}

